[Unit]
Description="Run datenkraken_db_backup.service every 24 hours every day"

[Timer]
OnBootSec=5min
OnCalendar=6:00
Unit=datenkraken_db_backup.service

[Install]
WantedBy=multi-user.target
