#pragma once
// Dummy values for CI and local dev (no real secrets!)
#define TOPIC_TEMP "topic/subtopic/temp/1"
#define TOPIC_HUM  "topic/subtopic/hum/1"
#define TOPIC_MIC  "topic/subtopic/mic/1"
#define TOPIC_CO2  "topic/subtopic/co2/1"
#define ROOM_ID    1
#define SECRET_SSID "YourWiFiName"
#define SECRET_PASS "YourWiFiPassword"
#define BROKER_IP   "192.168.0.100"
