#pragma once
// Dummy values for CI and development – no real secrets

#define TOPIC    "topic/subtopic"
#define ROOM_ID  1
#define SECRET_SSID "YourWiFiName"
#define SECRET_PASS "YourWiFiPassword"
#define BROKER_IP   "192.168.0.100"
